<!DOCTYPE html>
<html>
  <head>
    <title>Update Rule</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>Update Rule</h1>
    <form action="/updaterule/<%= rule.id %>" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= rule.name %>"
        required
      />
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= rule.description %></textarea
      >
      <button type="submit">Update</button>
    </form>
    <a href="/rules">Back to List</a>
    <%- include('../partials/footer') %>
  </body>
</html>
